// 颜色
@bgOrange:#ff6900;
@bgGrey:#f7f7f7;
@bgRed:#ff0000;
@bgBlue:#5789D2;
@bgWhite:#ffffff;
@gradualOrange:linear-gradient(#ff9a57,#ff6901);
@gradualGrey:linear-gradient(#d0d3dc,#bcbfc8);
@gradualBlue:linear-gradient(#8eafe1,#5789d2);
@txtOrange:#ff6900;
@txtGrey:#999999;
@txtBlack:#000000;
@txtWhite:#ffffff;
@txtBlue:#5789D2;
@iconRed:#ff0000;
@iconOrange:#ff6a01;